body {
  background-color: #000;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

.navbar-brand .logo {
  width: 150px; /* Tamanho padrão */
  height: auto;
}

@media (max-width: 768px) {
  .navbar-brand .logo {
    width: 100px; /* Reduz tamanho da logo em telas menores */
  }
}

.nav-link:hover {
  background-color: rgb(132, 151, 97);
  text-decoration: underline;
}

.form-container {
  background-color: #111;
  border: 2px solid #444;
  padding: 20px;
  border-radius: 10px;
}

.form-control, textarea {
  background-color: #ddd;
}

.btn-enviar {
  background-color: #eee;
  color: red;
  font-weight: bold;
}

.btn-enviar:hover {
  background-color: rgb(132, 151, 97);
  color: #000;
}

.info {
  margin-top: 20px;
}

.row.align-items-center {
  gap: 20px; /* Ajusta espaçamento para telas menores */
}

.row.mb-4.text-center {
  margin-bottom: 20px; /* Reduz espaçamento em telas menores */
  text-align: center; /* Centraliza o texto */
}

@media (max-width: 768px) {
  .row.align-items-center {
    flex-direction: column;
    gap: 20px;
  }
}